.popup {
  height: 100vh;
  background-color: rgba($color-black, 0.9);
  position: fixed;
  z-index: 4000;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey;
      font-size: 1.3rem;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
    }
  }

  &__content {
    width: 70%;
    position: absolute;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.3);
    border-radius: 0.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table;
    overflow: hidden;
  }

  &__left {
    width: 33.3333333333333%;
    display: table-cell;
  }

  &__right {
    width: 66.666666666666666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 4rem;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__text {
    margin-bottom: 2rem;
    font-size: 1.3rem;
    line-height: 1.8rem;

    -moz-column-count: 2;
    -moz-column-gap: 3rem;
    -moz-column-rule: 1px solid $color-grey-light-2;

    column-count: 2;
    column-gap: 3rem;
    column-rule: 1px solid $color-grey-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;

    hyphens: auto;
  }
}
